<head>
    <meta chrset='utf-8'>
    <title>
        ServerApi
    </title>
    <center>
        <h1>
            {{pageTitle}}
        </h1>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </center>
</head>